<div class="container mt-5">
  <h2>정보 수정</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-grup">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <br>
    <div class="form-grup">
      <%= f.label :password %> <i>(변경하실 비밀번호 입력해주세요.)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> 자리 이상 입력해주세요.</em>
      <% end %>
    </div>
    <br>
    <div class="form-grup">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <br>
    <div class="form-grup">
      <%= f.label :current_password %> <br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <br>
    <div class="form-grup">
      <%= f.label :"닉네임" %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <br><br>
    <div class="actions">
      <%= f.submit "저장" %>
    </div>
  <% end %>
  <hr>
  <br>
  <h3>회원 탈퇴</h3>
  <%= link_to "탈퇴", registration_path(resource_name), data: { confirm: "정말 계정을 삭제 하시겠습니까?" }, method: :delete,
      class: "btn btn-outline-danger" %> |  
  <%= link_to "뒤로가기", :back, class: "btn" %>
  
</div>