<div class="jumbotron jumbotron-fluid py-2">
    <div class="container">
        <img src="/assets/222.png" class="w-100">
        <h1 class="display-4">아이폰 12 PRO-MAX 출시</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="row">
    <div class="col-md mx-auto my-4 border border-primary rounded">
        <%= link_to "전국 성지", companies_path, class: "badge badge-primary col-12 m-auto" %>
        <% @companies.each do |c| %>
            <p class="border border-1 m-1 text-dark"><%= c.id %>. <%= truncate c.title %></p>
        <% end %>
    </div>
        
    <div class="col-md mx-auto my-4 border border-success rounded">
        <%= link_to "온라인 정책", onlines_path, class: "badge badge-success col-12 m-auto" %>
        <% @onlines.each do |o| %>
            <p class="border border-1 m-1 text-dark"><%= o.id %>. <%= truncate o.title %></p>
    <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md mx-auto my-4 border border-warning rounded">
        <%= link_to "자유 게시판", frees_path, class: "badge badge-warning col-12 m-auto" %>
        <% @frees.each do |f| %>
            <p class="border border-1 m-1 text-dark"><%= f.id %>. <%= truncate f.title %></p>
        <% end %>
    </div>

    <div class="col-md mx-auto my-4 border border-danger rounded">
        <%= link_to "정보공유", shares_path, class: "badge badge-danger col-12 m-auto" %>
        <% @shares.each do |s| %>
            <p class="border border-1 m-1 text-dark"><%= s.id %>. <%= truncate s.title %></p>
    <% end %>
    </div>
</div>
<div class="row border border-info rounded">
    <%= link_to "구매 후기", reviews_path, class: "col-12 my-2 badge badge-info" %>
        <% @reviews.each do |r| %>
            <div class="col-xs-6 col-md-3 border border-1 p-0">
                <%= image_tag(r.thumbnail(0), :class => 'thumbnail_img  ') if r.images.present? %>
            </div>
        <% end %>
</div>

<br><br>