<%= form_with(model: free, local: true) do |form| %>
  <% if free.errors.any? %>
    <div id="error_explanation">
      <h2>빈칸을 모두 채워주세요.</h2>
      <ul>
        <% free.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br><br>
  <div class="form-grup">
    <%= form.label :"제목" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :"이미지 첨부" %><br><br>
    <%= form.file_field :images, :multiple => true, class: "btn btn-danger" %>
  </div>
  <br><hr><br>
  <div class="field">
    <%= form.label :"내용" %>
    <%= form.text_area :description, class: "newcontentbox" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "저장", class: "btn btn-danger" %>
  </div><br>
<% end %>
